* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", "sans-serif"; }

p {
  margin: 0 auto;
  width: 42%;
  font-weight: 400;
  margin: 2rem auto;
  color: #9fabb2;
  text-align: center; }

.container {
  text-align: center;
  background: url("../images/bg-header-desktop.png") center center/cover; }

.snippets h2,
.workflow h2 {
  text-align: center;
  margin-top: 5rem; }

.clipboard h2 {
  text-align: center;
  margin-top: 5rem; }

.clipboard__ipad {
  width: 100%;
  text-align: center; }

.keeptrack {
  display: flex;
  margin: 2rem; }
  .keeptrack__Mac {
    flex: 1; }
  .keeptrack__caption {
    flex: 1;
    text-align: left;
    padding: 3rem; }
    .keeptrack__caption p {
      text-align: left;
      width: 100%; }

.supercharge {
  margin-top: 5rem;
  display: flex;
  width: 80%;
  margin: 0 auto; }

.card {
  text-align: center;
  width: 100%; }
  .card img {
    margin-bottom: 2rem; }
  .card p {
    width: 90%; }

.partners {
  margin: 5rem auto;
  text-align: center; }
  .partners__logo {
    margin: 2rem;
    text-align: center; }

.download {
  text-align: center; }

.footer {
  display: flex;
  background-color: #edf2f4;
  height: 8rem;
  align-items: center;
  padding: 5rem 0; }
  .footer__logo {
    text-align: center;
    width: 36%; }
    .footer__logo img {
      height: 5rem;
      width: 5rem; }

.links {
  width: 100%;
  display: flex; }
  .links ul,
  .links ul a {
    display: inline;
    width: 26%;
    font-weight: 400;
    color: #4c545d;
    text-align: left;
    padding: 1rem;
    list-style: none;
    text-decoration: none; }
  .links ul li {
    padding-bottom: 1rem; }

.header {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem; }
  .header h1 {
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 2; }
  .header p {
    margin: 0 auto;
    width: 42%;
    font-weight: 400;
    margin: 2rem auto;
    color: #9fabb2;
    text-align: center; }

.btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  margin-left: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer; }
  .btn--green {
    box-shadow: #26baa4 0.2rem 0.1rem 0.2rem;
    background: #26baa4;
    outline: none; }
    .btn--green:active {
      outline: none;
      filter: brightness(110%); }
  .btn--blue {
    box-shadow: #6173ff 0.2rem 0.1rem 0.2rem;
    background: #6173ff;
    outline: none; }
    .btn--blue:active {
      outline: none;
      filter: brightness(110%); }

.socialM {
  text-align: left;
  width: 36%; }
  .socialM img {
    padding: 1rem; }
  .socialM__facebook {
    filter: invert(35%) sepia(71%) saturate(437%) hue-rotate(181deg) brightness(86%) contrast(89%); }
    .socialM__facebook:active {
      filter: invert(35%) sepia(71%) saturate(437%) hue-rotate(181deg) brightness(100%) contrast(89%); }
  .socialM__twitter {
    filter: invert(32%) sepia(94%) saturate(986%) hue-rotate(176deg) brightness(90%) contrast(108%); }
    .socialM__twitter:active {
      filter: invert(32%) sepia(94%) saturate(986%) hue-rotate(176deg) brightness(100%) contrast(108%); }
  .socialM__instagram {
    filter: invert(31%) sepia(6%) saturate(973%) hue-rotate(169deg) brightness(95%) contrast(86%); }
    .socialM__instagram:active {
      filter: invert(31%) sepia(6%) saturate(973%) hue-rotate(169deg) brightness(120%) contrast(86%); }
